{% extends 'layout/loginbase.html' %} 
{% load static %}
{% block content %}
 <!-- Navigation-->
    <div class="loader" id="payloader" style="display:none"><img src="{% static 'images/loading.gif' %}" alt=""></div>


    <form class="" name='forgotForm' id='forgotForm' method="POST">
    <section class="before-login-form" id="forgot-section">
        <div class="before-login-left login-bg">
            <div class="logo-before-log">
                <a href="login"><img src="{% static 'images/logo-before-login.png'  %}"></a>
            </div>
        </div>
        <div class="before-login-right">
            <h2 class="before-log-form-head ">Reset Password</h2>
            <p class="before-log-form-subhead">Enter your new password</p>
            {% include "layout/successerror.html" %}
            
                <div class="form-before-log">                    
                    {% csrf_token %}
                    <div class="form-group col-sm-6">
                        <label>New Password</label>
                        <input type="password" name="password" fullwidth="" id="password" placeholder="Enter your new password here" formcontrolname="password" class="required passworreq" autocomplete="OFF" minlength='8'>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Confirm password</label>
                        <input type="password" class="form-control required" id="cnf_password" name="cnf_password" placeholder="Re-enter your password here" equalTo = '#password'>
                        
                    </div>
                    <div class="flex-text">
                    <div class="col-sm-12 fp">
                        Oops, I just remembered it! Take me back to the <a href="login">Login</a>
                    </div>
                    </div>
                    <div class="form-group col-sm-12 btn-box mt-3">
                        <button type="submit" class="loginbtn">
                        Submit <img src="{% static 'images/arrow-rt.svg'  %}">
                        </button>
                    </div>
                
                </div>
            
        </div>
    </section>
</form>
<script>


    $.validator.addMethod("passworreq", function (input) {
        var reg = /[0-9]/; //at least one number
        var reg2 = /[a-z]/; //at least one small character
        var reg3 = /[A-Z]/; //at least one capital character
        var reg4 = /[\W_]/; //at least one special character
        return reg.test(input) && reg2.test(input) && reg3.test(input) && reg4.test(input);
    }, "Password must be at least 8 characters long, contains an upper case letter, a lower case letter, a number and a symbol.");
    $("#forgotForm").validate({
        submitHandler: function (form) {
            var password = $('#password').val()
            var cnf_password = $('#cnf_password').val()
            var token = $("[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: 'POST',
                url: '{{slug}}',
                data: { 'password': password,'cnf_password':cnf_password,  csrfmiddlewaretoken: token },
                beforeSend: function () {
                    $('#payloader').show();
                },
                success: function (response) {
                    $('#payloader').hide();
                    if (response == "0") {
                        swal("", 'You cannot put your old password as new password, please use another password.', "error");
                    } else{
                        location.href="/login"
                    }
                },
                error: function (response) {
                    $('#payloader').hide();
                    console.log('error', response)
                }
            })
            return false;
        }
    });
</script>

{% endblock content %}
