{% extends 'layout/loginbase.html' %} 
{% load static %}
{% block content %}
 <!-- Navigation-->
    <div class="loader" id="payloader" style="display:none"><img src="{% static 'images/loading.gif' %}" alt=""></div>


    <form class="" name='forgotForm' id='forgotForm' method="POST">
    <section class="before-login-form" id="forgot-section">
        <div class="before-login-left login-bg">
            <div class="logo-before-log">
                <a href="login"><img src="{% static 'images/logo-before-login.png'  %}"></a>
            </div>
        </div>
        <div class="before-login-right">
            <h2 class="before-log-form-head ">Forgot Password</h2>
            <p class="before-log-form-subhead">Enter your email addresss</p>
            {% include "layout/successerror.html" %}
            
                <div class="form-before-log">                    
                    {% csrf_token %}
                    <div class="form-group col-sm-12">
                        <label>Email</label>
                        <input type="email" name="email" fullwidth="" id="email" placeholder="Enter your email" formcontrolname="email" class="required" autocomplete="OFF">
                        
                    </div>
                    <div class="flex-text">
                    <div class="col-sm-12 fp">
                        Oops, I just remembered it! Take me back to the <a href="login">Login</a>
                    </div>
                    </div>
                    <div class="form-group col-sm-12 btn-box mt-3">
                        <button type="submit" class="loginbtn">
                        Submit <img src="{% static 'images/arrow-rt.svg'  %}">
                        </button>
                    </div>
                
                </div>
            
        </div>
    </section>

    <section class="before-login-form" id="confrim-section" style="display:none;">
        <div class="before-login-left Confirm-your-account">
            <div class="logo-before-log">
                <a href="login"><img src="{{LOGO}}"></a>
            </div>
        </div>
        <div class="before-login-right">
            <a href="javascript:void(0);" class="back-btn" onclick="backStep();">Back</a>
            <h2 class="before-log-form-head ">Confirm your account</h2>
            <p class="before-log-form-subhead">We have sent you an OTP to your  email and your mobile <br> number. Please enter below for confirmation.</p>
            <div class="form-before-log">
                <div class="col-sm-12 otp-text">
                    OTP code
                </div>
                <div class="col-sm-12 otp-fields">
                    <input class="opt_input required digits" type="text" name="otp_code" placeholder="0" maxlength="1" autocomplete="off">
                    <input class="opt_input required digits" type="text" name="otp_code1" placeholder="0" maxlength="1" autocomplete="off">
                    <input class="opt_input required digits" type="text" name="otp_code2" placeholder="0" maxlength="1" autocomplete="off">
                    <input class="opt_input required digits" type="text" name="otp_code3" placeholder="0" maxlength="1" autocomplete="off">
                    <input class="opt_input required digits" type="text" name="otp_code4" placeholder="0" maxlength="1" autocomplete="off">
                    <input class="opt_input required digits" type="text" name="otp_code5" placeholder="0" maxlength="1" autocomplete="off">
                </div>
                <div class="dint-rcv col-sm-12">Didn’t receive a code? <a href="javascript:void(0);" onclick="resentOTP()">Resend code</a></div>
                <div class="form-group col-sm-12 btn-box mt-3">
                    <button>
                        Continue <img src="{% static 'images/arrow-rt.svg'  %}">
                    </button>
                </div>

                <div class="col-sm-12 fp flp">
                    Already have an account? <a href="login">Log in</a> 
                </div>
            </div>
        </div>
    </section>

    <input type="hidden" name="stepCnt" id="stepCnt" value="1">
</form>
<script>

    $(document).ready(function () {
        $('#stepCnt').val('1');
        $(".opt_input").keyup(function () { 
            if (this.value.length == this.maxLength) { 
                $(this).next('label').remove();
                $(this).next('.opt_input').focus();
            }
        });    
    });

    function backStep(){
        $('#stepCnt').val('1');
        $('#confrim-section').hide();
        $('#forgot-section').show();
    }

    function resentOTP(){
        var emailVal = $('#email').val()
        var token = $("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            type: 'POST',
            url: 'otp_send',
            data: { 'email': emailVal, csrfmiddlewaretoken: token },
            beforeSend: function () {
                $('#payloader').show();
            },
            success: function (response) {

                $('#payloader').hide();
                if (response == '1') {
                    swal('', "OTP sent successfully", "success");
                }                   

            },
            error: function (response) {
                $('#payloader').hide();
                // console.log('error', response)
            }
        })
    }

    $("#forgotForm").validate({
        submitHandler: function (form) {
            var emailVal = $('#email').val()
            var token = $("[name=csrfmiddlewaretoken]").val();
            var stepCnt = $('#stepCnt').val()

            var form = $("#forgotForm");

            var serializedData = form.serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});

            if(stepCnt == 1){
                $.ajax({
                    type: 'POST',
                    url: 'forgot-password',
                    data: { 'email': emailVal,  csrfmiddlewaretoken: token },
                    beforeSend: function () {
                        $('#payloader').show();
                    },
                    success: function (response) {
                        $('#payloader').hide();
                        if (response == "0") {
                            $('#stepCnt').val('2');
                            $('#confrim-section').show();
                            $('#forgot-section').hide();
                        } else{
                            location.href="forgot-password" 
                        }
                    },
                    error: function (response) {
                        $('#payloader').hide();
                        console.log('error', response)
                    }
                })
            } else if(stepCnt == 2){ 
                $.ajax({
                    type: 'POST',
                    url: 'forgot_otp_verify',
                    data: { 'serializedData': serializedData, csrfmiddlewaretoken: token },
                    success: function (response) {
                        console.log('success', response)
                        if (response == 0) {
                            $(".opt_input").each(function() {
                                    $(this).val('')
                                });
                            swal('', "Please enter valid OTP", "error");                             
                        } else {
                            location.href="reset-password/"+response 
                            // console.log('else', response)
                        }
                    },
                    error: function (response) {
                        // console.log('error', response)
                    }
                })
            }
            return false;
        }
    });
</script>

{% endblock content %}
